<p>detail is working!</p>
<div *ngFor="let item of book; let i = index">
    <h2>{{ item.name }}</h2>
    <ul>
      <li>Scientific Name: {{ item.scientific_name }}</li>
      <li>Family Name: {{ item.family_name }}</li>
      <li>Other Names: {{ item.othername }}</li>
      <li>Other Names: {{ item.character }}</li>
      <li>Botanical Characteristics: {{ item.botanical_characteristics }}</li>
      <li>Flowering Period: {{ item.flowering_period }}</li>
      <li>Properties: {{ item.properties }}</li>
    </ul>
  </div>
  
  <div *ngIf="isLoading">
    <p>Loading...</p>
  </div>
  