body{
    background-color: #ffffff;
    padding-top: 36px;
    font-family: Mitr;
    /* font-family: 'IBM Plex Sans Thai', sans-serif; */
}
.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 0px solid ;
    border-radius: 30;
}

.head {
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
}
.subhead{
    font-weight: bold;
    font-size: 18px;
}
.subtitle {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: forestgreen;
}
p{
    font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@700&display=swap');